body {
  min-width: 255px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Acme','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right,#FF5F6D, #FFC371);
  color: white;
}

.Particles{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (max-width: 490px) {
  body{
    background-image:  linear-gradient(to right,#FFC371,#FFC371);
  }
}

